/* CONTENTS
1. Global
  - Global Fonts
  - Global Colors
2. Layout
3. Sections
  - HEADER
  - MAIN
  - FOOTER
*/

/*--------------------------------------------------------------
# 1. Global
--------------------------------------------------------------*/

/* Global Fonts */

@font-face {
  font-family: "MTNBrighterSans";
  src: url("../fonts/MTNBrighterSans-Regular.woff") format("woff"),
    url("../fonts/MTNBrighterSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MTNBrighterSansBold";
  src: url("../fonts/MTNBrighterSans-Bold.woff") format("woff"),
    url("../fonts/MTNBrighterSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "MTNBrighterSansBold", sans-serif;
  --paragraph-font: "MTNBrighterSans", sans-serif;
}

/* Global Colors */
:root {
  --background-color: #ffffff;

  --primary-color: #ffcc08;
  --secondary-color: #01668e;
  --primary-font-color: #000000;
  --primary-font-color-alt: #ffffff;
  --secondary-font-color: #202020;
  --hover-color: #ddd;
  --shadow-color: #1313132c;
}

:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
  # 2. Layout
  --------------------------------------------------------------*/

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

body {
  background-position: center;
  background-size: contain;
  font-family: var(--paragraph-font);
  color: var(--primary-font-color);
}

a {
  text-decoration: none;
  transition: 0.3s;
  font-family: var(--paragraph-font);
  color: var(--secondary-font-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-font-color);
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-font-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--secondary-font-color);
}

/*--------------------------------------------------------------
  # 3. Sections
  --------------------------------------------------------------*/

/* Header
    ============================= */

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--primary-color);
      background-color: var(--primary-color);
      padding: 10px 20px;
      z-index: 999;
      
    }
    
    .header-logo {
      display: flex;
      justify-content: center;
    }
    
    .nav-bar {
      display: flex;
      justify-content: space-between;
      background-color: var(--primary-color);
      width: 100%;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px var(--shadow-color);
      position: fixed;
      top: 0px;
      z-index: 999;
    }
    
    .nav-bar ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      gap: 30px;
      margin: 0;
      padding: 0;
      padding-right: 40px;
      width: 100%;
    }
    
    .index-item {
      flex-grow: 1;
      text-align: center;
      padding-top: 15px;
      border-bottom: var(--primary-color);
      border-bottom-style: solid;
      border-width: 3px;
      transition: all 0.5s;
    }
    .index-item a { 
      font-size: 20px;
    }
    
    .index-item:hover {
      border-bottom: var(--primary-font-color);
      border-bottom-style: solid;
      border-width: 3px;
    }
    
    .index-item a:hover {
      color: var(--primary-font-color-alt);
    }
    
    .nav-bar-alt *,
    .nav-bar-alt *::after,
    .nav-bar-alt *::before {
      box-sizing: border-box;
    }
    

/* Main
    ============================= */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

.homepage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;
    padding-bottom:0;
    margin-top: 30px;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--secondary-color);
  }

.global-container {
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
    padding: 20px;
    margin:0px;
    width:100%;
  }
  
/* Titles */

.titles-content {
  float:left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;  
} 

.titles-content h1 {
    font-size: 50px;
    padding: 5px;
}

/* Contacts List */

.contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  justify-content: center;
}

.contact-content {
  background-color: var(--primary-color);
  text-align: center;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.contact-content:hover {
  background-color: var(--shadow-color);
}

@media (max-width: 768px) {
    .global-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px;
    }
}

/* Footer
    ============================= */

    .footer-bottom {
      text-align: center;
      margin: 20px;
      border-top: 1px solid var(--primary-color);
      padding-top: 10px;
      color: var(--primary-font-color);
    }