<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRN MoMo About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
</head>
<body>
    <header>
        <!-- HEADER -->
        
        <nav class="nav-bar">
            <ul class="index-menu">
                <li>
                    <div class="header-logo">
                        <a href="{{ url_for('about') }}" class="nav-link">
                            <img class="logo" src="{{ url_for('static', filename='images/mrn-small-logo.png') }}" alt="MoMo Logo" width="100">
                        </a>
                    </div>
                </li>
                <li class="index-item"><a href="{{ url_for('index') }}" class="nav-link-active">Home</a></li>
                <li class="index-item"><a href="{{ url_for('about') }}" class="nav-link">About</a></li>
                <li class="index-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- MAIN PAGE -->
        <div class="homepage-container">
            <div class="titles-content">
                <h1>MRN MoMo Analysis</h1>
                <h2>Easily manage your MoMo account transactions and details!</h2>
                <p>Welcome to our SMS Data Processing and Analytics Platform!</p>
                <p>This website is crafted to simplify the management of your MRN MoMo transactions.</p>
                <h2>Key Features:</h2>
                <p>Messages from your mobile messages are presented in an intuitive and user-friendly interface.</p>
                <p>- Concise categorization to easily locate specific transactions (e.g., utilities, airtime, bank transfer, etc.).</p>
                <p>- Data is stored in a robust relational database, ensuring data integrity and easy access for future analysis.</p>
                <p>- Real-time data visualization with interactive charts and graphs to help you understand your spending patterns and financial behavior.</p>
                <p>- Comprehensive analytics tools to provide deep insights into your finances.</p>
            </div>
        </div>
    </main>
    <footer>
        <!-- FOOTER -->
        <div class="footer-bottom">
            <p>&copy; 2025 MoMo Data Analysis. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>