<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRN Contact Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contact.css') }}">
</head>
<body>
    <header>
        <!-- HEADER -->  
        <nav class="nav-bar">
            <ul class="index-menu">
                <li>
                    <div class="header-logo">
                        <a href="{{ url_for('about') }}" class="nav-link">
                            <img class="logo" src="{{ url_for('static', filename='images/mrn-small-logo.png') }}" alt="MoMo Logo" width="100">
                        </a>
                    </div>
                </li>
                <li class="index-item"><a href="{{ url_for('index') }}" class="nav-link-active">Home</a></li>
                <li class="index-item"><a href="{{ url_for('about') }}" class="nav-link">About</a></li>
                <li class="index-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- MAIN PAGE -->
        <div class="homepage-container">
            <div class="titles-content">
                <h1>If you want to reach us:</h1>
            </div>
        </div>
        <div class="contact-container">
            <div class="contact-content">
                <a href="https://www.x.com/god" class="twitter-link">
                    <img src="{{ url_for('static', filename='images/x-logo.png') }}" alt="Twitter Logo" width="200">
                    <h2>Twitter</h2>
                    <p>@mrnrwanda</p>
                </a>
            </div>
            <div class="contact-content">
                <a href="https://www.instagram.com/god" class="insta-link">
                    <img src="{{ url_for('static', filename='images/instagram-logo.png') }}" alt="Instagram Logo" width="200">
                    <h2>Instagram</h2>
                    <p>@mrnrwanda</p>
                </a>
            </div>
            <div class="contact-content">
                <a href="https://www.facebook.com/TheGoodLordAbove/" class="facebook-link">
                    <img src="{{ url_for('static', filename='images/facebook-logo.png') }}" alt="MRN Logo" width="200">
                    <h2>Facebook</h2>
                    <p>MRN Rwanda</p>
                </a>
            </div>
            <div class="contact-content">
                <a href="https://mailto:support@mrnservices.co.rw" class="email-link">
                    <img src="{{ url_for('static', filename='images/mail-logo.png') }}" alt="Email Logo" width="200">
                    <h2>Email Support</h2>
                    <p>support@mrnservices.co.rw</p>
                </a>
            </div>
            <div class="contact-content">
                <div class="call-link">
                    <img src="{{ url_for('static', filename='images/call-logo.png') }}" alt="Call Logo" width="200">
                    <h2>Call Toll-Free</h2>
                    <p>+250 794 038 011</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!-- FOOTER -->
        <div class="footer-bottom">
            <p>&copy; 2025 MoMo Data Analysis. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>