<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoMo Account Transactions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/details.css') }}">
    <script src="scripts/analytics.js"></script>
</head>
<body>
    <header>
        <!-- HEADER -->
        <nav class="nav-bar">
            <ul class="index-menu">
                <li>
                    <div class="header-logo">
                        <a href="{{ url_for('about') }}" class="nav-link">
                            <img class="logo" src="{{ url_for('static', filename='images/mrn-small-logo.png') }}" alt="MoMo Logo" width="100">
                        </a>
                    </div>
                </li>
                <li class="index-item"><a href="{{ url_for('index') }}" class="nav-link-active">Home</a></li>
                <li class="index-item"><a href="{{ url_for('about') }}" class="nav-link">About</a></li>
                <li class="index-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main>
        <!-- MAIN PAGE -->
        <div class="homepage-container">
            <div class="titles-content">
                <h1>My MoMo Transactions</h1>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Sort by</button>
                <div class="dropdown-content">
                    <a href="#">Name (Asc)</a>
                    <a href="#">Name (Desc)</a>
                    <a href="#">Date (Asc)</a>
                    <a href="#">Date (Desc)</a>
                    <a href="#">Amount (Asc)</a>
                    <a href="#">Amount (Desc)</a>
                </div>
            </div>
        </div>
        <div class="global-container">
            <div>
                <h1>All Transactions</h1>
            </div>
            <div class="info-container">
                <h2>Total Amount Spent</h2>
                <h1>200 160 RWF</h1>
            </div>
            <div class="trans-container">
                <div class="trans-header">
                    <div>
                        <h2>Payment to Code Holder</h2>
                        <p>Amount: 1 500 RWF</p>
                        <p>Date: 2024 Dec 23</p>
                    </div> 
                    <div class="trans-info">
                        <h3>Transaction Details:</h3>
                        <p>Time: 11:15 am</p>
                        <p>Transaction ID: 123456789</p>
                        <p>Recipient Code: 084567</p>
                    </div>  
                </div>
                <div class="trans-header">
                    <div>
                        <h2>Airtime</h2>
                        <p>Amount: 20 000 RWF</p>
                        <p>Date: 2025 Feb 1</p>
                    </div> 
                    <div class="trans-info">
                        <h3>Transaction Details:</h3>
                        <p>Time: 12:00pm</p>
                        <p>Transaction ID: 129156289</p>
                        <p>Recipient: 0781 234 567</p>
                    </div>  
                </div>
                <div class="trans-header">
                    <div>
                        <h2>Bank Transfer</h2>
                        <p>Amount: 1 500 RWF</p>
                        <p>Date: 2024 Dec 23</p>
                    </div> 
                    <div class="trans-info">
                        <h3>Transaction Details:</h3>
                        <p>Time: 11:15 am</p>
                        <p>Transaction ID: 234164890</p>
                        <p>Recipient: Sibahle Dlamini</p>
                    </div>   
                </div>
            </div>
        </div>
        <div class=next10>
            <button>
                <a href="details.html" class="nav-link">Next 10 Transactions</a>
            </button>
        </div>
    </main>
    <footer>
        <!-- FOOTER -->
        <div class="footer-bottom">
            <p>&copy; 2025 MoMo Data Analysis. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>