<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoMo Account Transactions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/details.css') }}">
</head>
<body>
    <header>
        <!-- HEADER -->
        <nav class="nav-bar">
            <ul class="index-menu">
                <li>
                    <div class="header-logo">
                        <a href="{{ url_for('about') }}" class="nav-link">
                            <img class="logo" src="{{ url_for('static', filename='images/mrn-small-logo.png') }}" alt="MoMo Logo" width="100">
                        </a>
                    </div>
                </li>
                <li class="index-item"><a href="{{ url_for('index') }}" class="nav-link-active">Home</a></li>
                <li class="index-item"><a href="{{ url_for('about') }}" class="nav-link">About</a></li>
                <li class="index-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main>
        <!-- MAIN PAGE -->
        <div class="homepage-container">
            <div class="titles-content">
                <h1>My MoMo Transactions</h1>
            </div>
            <div class="dropdown">
                <button class="dropbtn" id="dropbtn">Sort by</button>
                <div class="dropdown-content">
                    <a href="#" id="sortLink">Date (Asc)</a>
                    <a href="#" id="sortLink">Date (Desc)</a>
                    <a href="#" id="sortLink">Amount (Asc)</a>
                    <a href="#" id="sortLink">Amount (Desc)</a>
                </div>
            </div>
        </div>
        <div class="global-container">
            <div>
                <h1>Transactions For: <span id="SelectedType">Loading..</span></h1>
            </div>
            <div class="info-container">
                <h2>Total Amount Spent</h2>
                <h1><span id="TotalAmount">0</span></h1>
            </div>
            <div class="trans-container" id="TopMessages">
            <!-- JavaScript Elements will go here -->
            </div>
        </div>
    </main>
    <footer>
        <!-- FOOTER -->
        <div class="footer-bottom">
            <p>&copy; 2025 MoMo Data Analysis. All rights reserved.</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='scripts/details.js') }}"></script>
</body>
</html>